*{
    margin: 0;
    padding: 0;
}

#box{
    width: 980px;
    height: 1386px;
    border: 1px solid red;
    margin:40px auto;
}
#box .top{
    width: 892px;
    height: 61px;
    border-bottom: 2px solid #938e8c;
    margin:0 auto;
    position: relative;
}
#box .top .top_left{
    width: 110px;
    height: 61px;
    background: skyblue;
    position: relative;

}
#box .top .top_left span{
    font-size:12px;
    color: #ffffff;
    font-family:黑体;
    position: absolute;
    left: 6px;
    bottom: 4px;
}
#box .top .top_right{
    float: right;
    position: absolute;
    bottom:2px;
    right:0;
    color:skyblue;
}
#box .pic{
    width: 892px;
    height: 301px;
    /*border: 1px solid #000;*/
    margin:0 auto;
    margin-top:45px;
    box-sizing: border-box;
    position: relative;
}
#box .pic .pic_left{
    width: 641px;
    height: 301px;
    box-sizing: border-box;
}
#box .pic .pic_left .bg{
    width: 641px;
    height: 301px;
    background: url(images/1.jpg);
    background-size: 641px 301px;
    box-sizing: border-box;
}
#box .pic .pic_left .bg .bg_g{
    width: 191px;
    height: 301px;
    background: lawngreen;
    opacity: 0.6;
    float: left;
}
#box .pic .pic_left .bg .bg_r{
    width: 191px;
    height: 301px;
    background: indianred;
    opacity: 0.6;
    float: right;
}
#box .pic .pic_right{
    width: 203px;
    height: 301px;
    /*border: 2px solid #cc8091;*/
    border-top:2px solid #cc8091;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 0;
}
#box .pic .pic_right .one{
    width: 84px;
    font-size:24px;
    font-family:微软雅黑;
    border-bottom:2px solid #000;
    padding-top:10px;
}
#box .pic .pic_right .one span{
    font-size: 18px;
}
#box .pic .pic_right .two{
    width: 124px;
    font-size:24px;
    font-family:微软雅黑;
    border-bottom:2px solid #000;
    padding-top:4px;
}
#box .pic .pic_right .two span{
    font-size: 18px;
}
#box .pic .pic_right .three{
    padding-top:5px;
}
#box .pic .pic_right .three p{
    font-size:12px;
    font-family:楷体;
}
#box .pic .pic_right .three .p_one{
    font-size:12px;
    white-space: nowrap;
}
#box .pic .pic_right .four{
    font-size:116px;
    font-family:微软雅黑;
    color: #75b86b;
}
#box .pic .pic_right .five{
    position: relative;
}
#box .pic .pic_right .five .f_one{
    font-size:55px;
    color:#cc8091;
    font-family:微软雅黑;
    position: absolute;
    top:-25px;
    left: 20px;
}
#box .pic .pic_right .five .f_two{
    font-size:21px;
    color:#cc8091;
    font-family:微软雅黑;
    position: relative;
    left:100px;
    top:-2px;
}
#box .pic .pic_right .five .f_three{
    font-size:12px;
    color:#ccc;
    font-family:微软雅黑;
    position: relative;
    left:100px;
    top:-7px;
}
#box .wz{
    width: 892px;
    height: 200px;
    margin:0 auto;
    margin-top:40px;
    position: relative;
}
#box .wz .w_one{
    width: 230px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}
#box .wz .w_one .o_bt{
    font-size:16px;
    color: #418c59;
    font-family:微软雅黑;
    text-decoration: underline;
    font-weight:bold;
}
#box .wz .w_one .o_nr{
    font-size:12px;
    color:#767777;
    font-family:宋体;
    line-height:16px;
    margin-top:10px;
}
#box .wz .w_two{
    width: 230px;
    height: 200px;
    position: absolute;
    top: 0px;
    left:260px;
}
#box .wz .w_two .t_bt{
    font-size:16px;
    color: #d2994f;
    font-family:微软雅黑;
    text-decoration: underline;
    font-weight:bold;
}
#box .wz .w_two .t_nr{
    font-size:12px;
    color:#767777;
    font-family:微软雅黑;
    line-height:16px;
    margin-top:10px;
    opacity: 0.7;
}
#box .wz .w_three{
    width: 130px;
    height: 200px;
    position: absolute;
    top: 0;
    left:520px;
}
#box .wz .w_three .th_bt{
    font-size:16px;
    color:#cc7680;
    font-family:微软雅黑;
    font-weight:bold;
    text-decoration: underline;
}
#box .wz .w_three .th_nr{
    font-size:12px;
    margin-top: 10px;
    line-height:20px;
    color:#767777;
    font-family:宋体;
}
#box .wz .w_three .th_w{

    font-size:12px;
    margin-top:20px;
    font-family:微软雅黑;
    line-height:20px;

}
#box .wz .w_three .th_w span{
    color:#cd4a48;
    opacity:0.7;
}
#box .lm{
    width: 892px;
    height: 700px;
    border-bottom: 1px solid #000;
    margin:0 auto;
}
#box .lm .l_left{
    width: 424px;
    height: 700px;
    float: left;
}
#box .lm .l_left .l_left_bt{
    width: 424px;
    height: 180px;
    border-bottom: 2px solid #11456b;
}
#box .lm .l_left .l_left_bt .l_left_bt_one{
    font-size:42px;
    color:#11456b;
    font-family:黑体;
    font-weight:bold;
}
#box .lm .l_left .l_left_bt .l_left_bt_one span{
    font-size:72px;
    color:#f5e327;
    font-style: italic;
}
#box .lm .l_left .l_left_bt .l_left_bt_two{
    font-size:42px;
    color:#11456b;
    font-family:黑体;
    font-weight:bold;

}
#box .lm .l_left .l_left_bt .l_left_bt_three{
    font-size:33px;
    color:#11456b;
    font-family:黑体;
    font-weight:bold;
}
#box .lm .l_left .l_left_nr{
    width: 424px;
    height: 500px;
    margin-top: 20px;
}
#box .lm .l_left .l_left_nr .l_left_nr_one{
    font-size:12px;
    color:#767777;
    font-family:宋体;
    line-height:16px;
}
#box .lm .l_left .l_left_nr .l_left_nr_one:first-letter{
    font-size:70px;
    font-family:微软雅黑;
    color:#f5e327;
    line-height:70px;
    float: left;
    padding:5px;
}
#box .lm .l_left .l_left_nr .l_left_nr_pic{
    width: 200px;
    height: 300px;
    float: right;
    padding:15px;

}
#box .lm .l_left .l_left_nr_two{
    font-size:12px;
    color:#767777;
    font-family:宋体;
    line-height:16px;
    text-indent: 2em;
}
#box .lm .l_left .l_left_nr_three{
    font-size:12px;
    color:#767777;
    font-family:宋体;
    line-height:16px;
    text-indent: 2em;
}
#box .lm .l_right{
    width: 458px;
    height:700px;
    float: right;

}
#box .lm .l_right .l_right_pic{
    width: 458px;
    height: 275px;
    background: url(images/1.jpg);
    position: relative;
}
#box .lm .l_right .l_right_pic .l_right_pic_box{
    width: 458px;
    height: 61px;
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    bottom: 0;

}
#box .lm .l_right .l_right_pic .l_right_pic_box .l_right_pic_one{
    width: 170px;
    height: 44px;
    font-size:26px;
    color:#fff;
    font-family:微软雅黑;
    border-left: 3px solid #72b16a;
    position: absolute;
    bottom:5px;
    left:20px;
    text-indent: 10px;

}
#box .lm .l_right .l_right_pic .l_right_pic_box .l_right_pic_two{
    font-size:12px;
    color:#72b16a;
    font-family:微软雅黑;
    position: absolute;
    bottom:15px;
    left:150px;
    font-style: italic;
}
#box .lm .l_right .l_right_nr{
    width: 458px;
    height: 358px;
    margin-top:30px;
    background: #EEEED6;
}
#box .lm .l_right .l_right_nr .l_right_nr_top{
    width: 458px;
    height: 175px;
    padding-top:20px;
    line-height:30px;
}
#box .lm .l_right .l_right_nr .l_right_nr_top p{
    font-size:16px;
    font-family:宋体;
    color:#5a5b5b;
    padding:15px;
}
#box .lm .l_right .l_right_nr .l_right_nr_bottom{
    width: 458px;
    height: 160px;

}
#box .lm .l_right .l_right_nr .l_right_nr_bottom .l_right_nr_bottom_left{
    width: 260px;
    height: 160px;
    background: #D55D5C;
    position: relative;
    float: left;

}
#box .lm .l_right .l_right_nr .l_right_nr_bottom .l_right_nr_bottom_left div:nth-child(1){
    font-size:110px;
    color:white;
    position: absolute;
    left:10px;
    top: 0px;
}
#box .lm .l_right .l_right_nr .l_right_nr_bottom .l_right_nr_bottom_left div:nth-child(2){
    width: 5px;
    height: 85px;
    border-right: 3px solid #fff;
    position: absolute;
    left: 75px;
    top: 32px;
}
#box .lm .l_right .l_right_nr .l_right_nr_bottom .l_right_nr_bottom_left div:nth-child(3){
    position: absolute;
    left: 100px;
    top: 32px;
}
#box .lm .l_right .l_right_nr .l_right_nr_bottom .l_right_nr_bottom_left div:nth-child(3) p{
    color:#fff;
    font-size:18px;
}
#box .lm .l_right .l_right_nr .l_right_nr_bottom .l_right_nr_bottom_left div:nth-child(3) p:nth-child(3){
    font-size:12px;
}
#box .lm .l_right .l_right_nr .l_right_nr_bottom .l_right_nr_bottom_left div:nth-child(3) p:nth-child(4){
    font-size:12px;
}
#box .lm .l_right .l_right_nr .l_right_nr_bottom .l_right_nr_bottom_right{
    width: 196px;
    height: 160px;
    float: right;
}
#box .lm .l_right .l_right_nr .l_right_nr_bottom .l_right_nr_bottom_right div{
    font-size:14px;
    font-family:黑体;
    font-style: italic;
    padding:10px;
}
#box .lm .l_right .l_right_nr .l_right_nr_bottom .l_right_nr_bottom_right div span{
    color:red;
    font-size:32px;
}