*{
    margin: 0;
    padding: 0;
}
.box{
    position: relative;
    width:auto;
    height:auto;
    background: #eee;
    border: 1px solid #999;
    padding: 20px;
    margin: 20px;;
}
.box:before{
    display: table;
    content: "";
}
.box:after{
    display: table;
    content: "";
    clear: both;
}
.box .left{
    position: absolute;
    width:200px;
    height: 120px;
    background: #fff;
    border: 1px solid #999;
}
.box .left-logo{
    position: relative;
    display: inline-block;
    /*vertical-align: middle;*/
    /*text-align: center;*/
    width: 120px;
    float: left;

    left: 20px;
    top: 20px;
}
.box .left-logo img{
    width: 80px;
    height: 80px;
}
.box .left-name{
    position: relative;
    float: right;
    margin-right:20px;
    margin-top:20px;
}
.center{
    position: absolute;
    background: #fff;
    left: 240px;
    right: 160px;
    border: 1px solid #999;
    padding: 20px;
}
.center section{
    margin-top:20px;
}
.box .right{
    /*position: absolute;*/
    position: relative;
    float: right;
    width: 120px;
    height: 430px;
    background: #fff;
    border: 1px solid #999;
    margin-top:20px;
}
.box .right-logo{
    position: relative;
    left: 20px;
    margin-top: 20px;
}
.box .right-logo img{
    width: 80px;
    height: 80px;
}