
*{
    padding: 0;
    margin: 0;
}
@media only screen and (min-width: 768px) {
    #container{
        box-sizing: border-box;
    }
    .row{

        display: block;
    }
    .r1{
        width: calc(8.33% -  40px);
        height: 50px;
        background: #eee;
        float: left;
        margin: 20px;
        border: 1px solid #999;
        box-sizing: border-box;
    }
    .r2{
        width: calc(16.66% -  40px);
        height: 50px;
        background: #eee;
        float: left;
        margin: 20px;
        border: 1px solid #999;
        box-sizing: border-box;
    }
    .r3{
        width: calc(24.99% -  40px);
        height: 50px;
        background: #eee;
        float: left;
        margin: 20px;
        border: 1px solid #999;
        box-sizing: border-box;
    }
    .r4{
        width: calc(33.33% -  40px);
        height: 50px;
        background: #eee;
        float: left;
        margin: 20px;
        border: 1px solid #999;
        box-sizing: border-box;
    }
    .r6{
        width: calc(49.98% -  40px);
        height: 50px;
        background: #eee;
        float: left;
        margin: 20px;
        border: 1px solid #999;
        box-sizing: border-box;
    }
}
@media only screen and (max-width: 768px){
    #container{
        box-sizing: border-box;
    }
    .row{
        display: block;
    }
    .e2{
        width: calc(16.66% -  40px);
        height: 50px;
        background: #eee;
        float: left;
        margin: 20px;
        border: 1px solid #999;
        box-sizing: border-box;
    }
    .e3{
        width: calc(24.99% -  40px);
        height: 50px;
        background: #eee;
        float: left;
        margin: 20px;
        border: 1px solid #999;
        box-sizing: border-box;
    }
    .e6{
        width:calc(50% - 40px);
        height: 50px;
        background: #eee;
        float: left;
        margin: 20px;
        border: 1px solid #999;
        box-sizing: border-box;
    }
    .e8{
        width: calc(66.64% -  40px);
        height: 50px;
        background: #eee;
        float: left;
        margin: 20px;
        border: 1px solid #999;
        box-sizing: border-box;
    }
    .e12{
        width:calc(100% - 40px);
        height: 50px;
        background: #eee;
        float: left;
        margin: 20px;
        border: 1px solid #999;
        box-sizing: border-box;
    }
}