*{
    margin:0;
    padding: 0;
}
body{
    background: #dfdfdf;
}
#left{
    width: 65%;
    position: relative;
    left: 0;
    top: 0;
}
#right{
    width: 35%;
    position: absolute;
    right:0;
    top:80px;
}
.nav{
    height: 80px;
    background: #414141;
}
.nav img{
    width:190px;
    height: 80px;
}
.nav ul{
    float: right;
    line-height:80px;
}
.nav ul li{
    float: right;
    margin-right:25px;
}
.nav ul li a{
    color: #fff;
}
.nav ul li a:first-child{
    color: #ccc;
}
.header{
    margin:20px;
    background: #fff;
    padding:20px;
    line-height:30px;
    border-right:3px solid #737373;
    border-bottom:3px solid #737373;
}
.header .text1{
    text-indent: 2em;
}
.header2{
    margin:20px;
    background: #fff;
    padding:20px;
    line-height:30px;
    border-right:3px solid #737373;
    border-bottom:3px solid #737373;
}
.header2 .text2{
    text-indent: 2em;
}
.header2 ul li{
    list-style: none;
}
.picture{
    margin:20px;
    background: #fff;
    padding:20px;
    line-height:30px;
    border-right:3px solid #737373;
    border-bottom:3px solid #737373;
}
.picture .photo{
    width:250px;
    height: 250px;
    border: 1px solid #000;
    text-align: center;
    margin-top:20px;
    margin-left:50px;
}
.picture .photo p{
    text-align: center;
}
.picture .photo img{
    margin:0 auto;
    width: 200px;
    height: 200px;
    /*vertical-align: middle;*/
}
.table{
    margin:20px;
    background: #fff;
    padding:20px;
    line-height:30px;
    border-right:3px solid #737373;
    border-bottom:3px solid #737373;
}
.table .paiming{
    margin-left:45px;
}
.table table{
    display: inline-block;
    border-collapse: collapse;
    border: 1px solid #ddd;
    padding:3px;
    width: 100%;

}
.table thead{
    display: table-header-group;
    /*border-color: black;*/
    vertical-align: middle;
}
.table table th{
    width: 450px;
    background-color: #000;
    color:#fff;
}
.table table tr{
    background-color: #fff;
}
.table table tr:last-child{
    background-color: #ccc;
    font-weight:bold;
}
.register{
    margin:20px;
    background: #fff;
    padding:20px;
    line-height:30px;
    border-right:3px solid #737373;
    border-bottom:3px solid #737373;
    line-height:60px;
}
.register .register2{
    /*margin-left:250px;*/
    line-height:40px;
}
.register .register2 span{
    color: #bababa;
}
.register .submit1{
    width: 100%;
    height: 40px;
    background: blue;
    color:white;
    font-weight: bold;
    font-size:15px;
}