*{
    padding: 0;
    margin: 0;
}
/*headCon*/
#headCon{
    width: 1280px;
    height: 56px;
    margin:0 auto;
}
#headCon .fl{
    float: left;
    margin-left:50px;
    margin-top:13px;

}
#headCon .fl .fl_icon{
    float: left;
    width: 31px;
    height: 31px;
    background: url(../images/701.png) no-repeat;
    background-size: 31px 31px;
    line-height: 56px;
}
#headCon .fl .fl_wz{
    font-size:20px;
    float: left;
    margin-left:10px;
    font-weight:bold;
}
#headCon .fr{
    float: right;
}
#headCon .fr ul{
    float: left;
    height: 56px;
}
#headCon .fr ul li{
    height: 56px;
    list-style: none;
    float: left;
    line-height:56px;
    padding:0px 20px;

}
#headCon .fr ul li:nth-child(1){
    border-bottom: 2px solid red;
}
#headCon .fr ul li:hover{
    border-bottom: 2px solid red;
}
#headCon .fr ul li a{
    text-decoration: none;
    color:#737373;

}
#headCon .fr .login{
    height: 56px;
    line-height:56px;
    float: right;
    padding: 0 20px;
}
#headCon .fr .login .fr_icon{
    float: left;
    background: url(../images/702.png) no-repeat;
    width: 14px;
    height: 17px;
    margin-top: 20px;

 }
#headCon .fr .login .fr_wz{
    float: right;
    color:red;
}
/*headCon结束*/
/*banner A*/
#bannerA{
    width:1280px;
    height: 690px;
    margin:0 auto;
    background: url("../images/703.png");
}
#bannerA .title{
    font-size:65px;
    color: #ffffff;
    padding-top:300px;
    margin-left:120px;
}
#bannerA .slogan{
    font-size:30px;
    color: #ffffff;
    margin-top:50px;
    margin-left:120px;
}
#bannerA .button{
    margin-top:50px;
    margin-left:120px;
}
#bannerA .button input{
    width: 330px;
    height: 65px;
    color:#fff;
    background: #e74f4d;
    border: none;
    border-radius: 3%;
    font-size:30px;
    cursor: pointer;
}
/*banner B*/
#bannerB{
    width: 1280px;
    height: 250px;
    margin:0 auto;
}
#bannerB ul{
    overflow: hidden;
    box-sizing: border-box;
}
#bannerB ul li{
    float: left;
    list-style: none;
    width: 320px;
    height: 300px;
}
#bannerB ul li .listA{
    width: 42px;
    height: 42px;
    background: url(../images/7listA.png) no-repeat;
    margin:46px auto;
}
#bannerB ul li .listB{
    width: 42px;
    height: 42px;
    background: url(../images/7listB.png) no-repeat;
    margin:46px auto;
}
#bannerB ul li .listC{
    width: 42px;
    height: 42px;
    background: url(../images/7listC.png) no-repeat;
    margin:46px auto;
}
#bannerB ul li .listD{
    width: 42px;
    height: 42px;
    background: url(../images/7listD.png) no-repeat;
    margin:46px auto;
}
#bannerB ul li p{
    color: #767777;
    font-size: 14px;
    line-height:18px;
    text-align: center;
    border-right:1px solid #989899;
}
#bannerB ul li .listD_p{
    border-right:none;
}
/*banner C*/
#bannerC{
    width: 1280px;
    height: 350px;
    background: #ededed;
    margin:0 auto;
}
#bannerC .bannerC_icon{
    width:90px;
    height: 90px;
    background: url(../images/701.png) no-repeat;
    margin:0 auto;
    position: relative;
    top:80px;
}
#bannerC p{
    font-size:55px;
    color: #a1a1a1;
    margin-top: 150px;
    text-align: center;
}
/*banner D*/
#bannerD{
    width: 1280px;
    height: 342px;
    background: url(../images/7bannerD.png) no-repeat;
    margin:0 auto;
}
#bannerD .bannerD_po{
    font-size:21px;
    text-align: center;
    color:#fff;
    position: relative;
    top: 60px;
}
#bannerD .bannerD_xhx{
    width: 40px;
    height: 4px;
    background: #fff;
    margin:0 auto;
    position: relative;
    top: 70px;
}
#bannerD .bannerD_pt{
    font-size:15px;
    text-align: center;
    color:#fff;
    position: relative;
    top: 80px;
}
#bannerD .bannerD_ss{
    position: relative;
    top: 130px;
    text-align: center;
}
#bannerD .bannerD_ss select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 240px;
    height: 38px;
    background: #DFDFDF url(../images/downArrow.png) no-repeat scroll right center ;
    padding-left:30px;
    color: #9b9b9b;
    margin-left:20px;
}
#bannerD .bannerD_ss .submit_one{
    width: 240px;
    height: 38px;
    background: #be4e48;
    border: none;
    color: #fff;
    margin-left:20px;
}
/*banner E*/
#bannerE{
    width: 1280px;
    height: 600px;
    background: #e6e6e6;
    margin: 0 auto;
}
#bannerE ul{
    list-style: none;
    margin:0 150px;
}
#bannerE ul li{
    width: 245px;
    height: 395px;
    float: left;
    margin: 100px 0px;
    text-align: center;
}
#bannerE ul li .bannerE_listA{
    width: 220px;
    height: 340px;
    background: url(../images/7bannerEA.png);
}
#bannerE ul li .bannerE_listB{
    width: 220px;
    height: 340px;
    background: url(../images/7bannerEB.png);
}
#bannerE ul li .bannerE_listC{
    width: 220px;
    height: 340px;
    background: url(../images/7bannerEC.png);
}
#bannerE ul li .bannerE_listD{
    width: 220px;
    height: 340px;
    background: url(../images/7bannerED.png);
}
#bannerE ul li .bannerE_hd{
    color: #4b4b4b;
    font-size:18px;
}
#bannerE ul li .bannerE_zt{
    color:#bcbdbd;
    font-size:14px;
    line-height:20px;
}
/*banner F*/
#bannerF{
    width: 1280px;
    height: 565px;
    margin: 0 auto;
}
#bannerF .bannerF_fl{
    float: left;
    width: 850px;
    height: 565px;
    background: url(../images/bannerFfl.png) no-repeat;
    background-size:850px 565px ;
}
#bannerF .bannerF_fr{
    float: right;
    width:430px;
    height: 565px;
    text-align: center;

}
#bannerF .bannerF_fr .bannerF_title{
    width: 103px;
    height: 20px;
    background: url(../images/bannerFfrTitle.png) no-repeat;
    background-size: 103px 20px;
    margin:0 auto;
    margin-top: 165px;
    margin-bottom:30px;;
}
#bannerF .bannerF_fr p{
    width: 300px;
    font-size:12px;
    text-align: left;
    color:#aaa;
    line-height:30px;
    margin:0 auto;
}
#bannerF .bannerF_fr .bannerF_bt{
    float: none;
    margin:0 auto;
    width: 107px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #e25c60;
    color:#e25c60;
    background: #fff;
    font-size:12px;
    margin-top:25px;
}
#bannerF .bannerF_fr ul{
    width: 69px;
    overflow: hidden;
    margin:0 auto;
    list-style: none;
}
#bannerF .bannerF_fr ul li{
    float: left;
    width: 11px;
    height: 11px;
    margin-right:10px;
    border: 1px solid #929293;
    border-radius: 50%;
    margin-top:25px;
}
#bannerF .bannerF_fr ul li:nth-child(1){
    background: #929293;
}
/*banner G*/
#bannerG{
    width: 1280px;
    height: 520px;
    margin:0 auto;
}
#bannerG .bannerG_red{
    width: 426px;
    height: 520px;
    background: #e74f4d;
    float: left;
    text-align: center;

}
#bannerG .bannerG_red p{
    color: #ffffff;
    font-size:22px;
    text-align: center;
    position: relative;
    top: 140px;
}
#bannerG .bannerG_red div{
    position: relative;
    top:180px;
    width: 35px;
    height: 3px;
    background: #fff;
    margin: 0 auto;
}
#bannerG .bannerG_red .bannerG_red_bt{
    position: relative;
    top: 220px;
    width: 170px;
    height: 45px;
    border: 1px solid #fff;
    background: #e74f4d;
    color:#fff;
    font-size:22px;
}
#bannerG .bannerG_white{
    width: 426px;
    height: 520px;
    background: #fff;
    float: left;
    text-align: center;

}
#bannerG .bannerG_white p{
    color: #000;
    font-size:22px;
    text-align: center;
    position: relative;
    top: 140px;
}
#bannerG .bannerG_white div{
    position: relative;
    top:180px;
    width: 35px;
    height: 3px;
    background: #ccc;
    margin: 0 auto;
}
#bannerG .bannerG_white .bannerG_white_bt{
    position: relative;
    top: 220px;
    width: 170px;
    height: 45px;
    border: 1px solid #e74f4d;
    background: #fff;
    color:#e74f4d;
    font-size:22px;
}
#bannerG .bannerG_pic{
    width: 428px;
    height: 520px;
    background: url(../images/bannerGPic.png) no-repeat;
    background-size:428px 520px ;
    float: right;
}
/*banner H*/
#bannerH{
    width: 1280px;
    height: 650px;
    margin:0 auto;
}
#bannerH .bannerH_header{
    width: 1280px;
    height: 200px;
    text-align: center;
}
#bannerH .bannerH_header .bannerH_header_title{
    position: relative;
    top: 50px;
    font-size:24px;
    color:#323333;
}
#bannerH .bannerH_header div{
    position: relative;
    top: 60px;
    width: 35px;
    height: 3px;
    background: #e74f4d;
    margin:0 auto;
}
#bannerH .bannerH_header p{
    position: relative;
    top: 75px;
    font-size:16px;
    line-height:18px;
    color:#aaaaaa;
}
#bannerH .bannerH_fl{
    width: 300px;
    position: relative;
    top:10px;
    left: 133px;
    float: left;
}
#bannerH .bannerH_fl .bannerH_fl_item{
    margin-bottom:35px;
    position: relative;
}
#bannerH .bannerH_fl .bannerH_fl_item .bannerH_fl_item_title{
    font-size:16px;
    color:#666160;
    margin-bottom:15px;
}
#bannerH .bannerH_fl .bannerH_fl_item p{
    font-size: 13px;
    color:#c3c2c2;
}
#bannerH .bannerH_fl .bannerH_fl_item a{
    text-decoration: none;
    font-size:12px;
    color:#959291;
    position: absolute;
    right:0px;
    bottom:-15px;
}
#bannerH .bannerH_fl .bannerH_fl_item i{
    float: left;
    width: 11px;
    height: 6px;
    background: url(../images/downArrowE.png) no-repeat;
    background-size:10px 6px;
    margin-top:5px;
}
#bannerH .bannerH_fr{
    width: 900px;
    height: 227px;
    position: relative;
    top:10px;
    left: 133px;
    float: right;
}
#bannerH .bannerH_fr .inputTxt{
    width: 310px;
    height: 48px;
    float: left;
    margin-right:15px;
    margin-bottom:10px;
    border: none;
    background: #ededee;
}
#bannerH .bannerH_fr textarea.inputTxt{
    width: 635px;
    height: 120px;
}
#bannerH .bannerH_fr input.inputSu{
    width: 635px;
    height: 42px;
}
/*footer*/
#footer{
    width: 1280px;
    height: 400px;
    margin: 0 auto;
    background: #32353e;
    color: #ffffff;
    text-align: center;
}
#footer .footer_title{
    padding-top:60px;
    font-size:22px;
}
#footer p{
    font-size: 16px;
}
#footer .footer_Txt{
    width: 450px;
    height: 35px;
    margin-top:40px;

}
#footer .footer_Sub{
    width: 50px;
    height: 35px;
    background:#6f7278;
    color:#fff;
    border: none;
}
#footer ul{
    width: 236px;
    margin: 0 auto;
    list-style: none;
    margin-top:45px;
}
#footer ul li{
    width: 29px;
    height: 25px;
    float: left;
    margin-right:30px;
}
#footer .footer_qq{
    background: url(../images/7QQ.png) no-repeat;
    background-size: 29px 25px;
}
#footer .footer_weibo{
    background: url(../images/7weibo.png) no-repeat;
    background-size: 29px 25px;
}
#footer .footer_twitter{
    background: url(../images/7twitter.png) no-repeat;
    background-size: 29px 25px;
}
#footer .footer_lnk{
    background: url(../images/7lnk.png) no-repeat;
    background-size: 29px 25px;
}